 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .home{
    
    display: flex;
 }
 .linkAll{
    display: flex;
 }
 .linkLeft{
    width: 100%;
 }
 .link ul li {
  list-style: none;
  display:grid;
  margin-right: 1rem;

 }
 .linkLeft{
    width: 20rem;
 }
 
 .link{
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    /* width:  100vw; */
  /* width:120%; */
  height: 30.3rem;
  overflow-y: auto;
  line-height:4rem;
  background-color: aquamarine;
  /* border: 1px solid #252525; */
  width: 13.4rem;


 }
 .link ul li a{
    text-align: center;
    text-transform: capitalize;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
 }
 
 .link ul li a:hover{
background-color: #252525;
  transition: 200ms;
 }
 .action{
  color: bisque;
 }
 .main{
    width: 100rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main3{
    width: 75rem;
    /* border: 1px solid black; */
}
.imgs{
    /* position: absolute; */
}
.bil{
    position: absolute;
    margin-left: 55px;
    margin-top: -20px;
}
.text1{
    margin-top: -600px;
    margin-left: 200px;
    /* z-index: 1; */
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}
.img1 img{
    /* z-index: 2; */
width: 70rem;
}
img{
    width: 10rem;
}
.main1{
    padding: 0.5rem;
    width: 16%;
    height: 17rem;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0rem 0rem 1rem gray;
}
.bodyPart{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center  ;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: aliceblue; */
}
.equipment{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}
.name{
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-size: 13px;
}
.active{
    background-color: #252525;
    border-bottom: 5px solid aqua;
    /* transition: 300ms; */
}
.link1{
    width: 100vw;
    height: 5rem;
    background-color: #fff;
}
.main3{
    background-color: #000;
}
.lowk{
    color: green;
}
.link1 ul li{
    list-style: none;
    display: inline;
}
.link1 ul {
    float: right;
    margin-right: 2rem;
}
.link1 ul li a{
    margin-right: 1rem;
    line-height: 5rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    /* color: aliceblue; */
    color: #252525;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.headerLinks{
    /* border-bottom: 2px solid lightcoral; */
    background-color: #fff;
    padding-bottom: 1rem;
}

.header{
    display: flex;
}
.image{
    height: 5rem;
}
h6{
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #252525; 
    padding: 1rem 0rem;
    /* border-top: 1px solid #252525; */
    background-color:   aquamarine;
    /* opacity: .5; */
    width: 13.6rem;

}
hr{
    margin-top: -.2rem;
    text-transform: capitalize;
}
/* text dec on img */

.text2{
    color: #fff;
    font-size: 44px;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 100px;
    /* text-align: center; */
}
.shape{
    color: aqua;
}
.your{
    text-transform: uppercase;
    margin-left: 10px;

}
.body{
    margin-left: 80px;
    position: absolute;
    margin-top: -20px;
}
.text3{
    color: #fff;
    font-size: 14px;
    margin-top: 100px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text4{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 35rem;
    margin-top: 60px;
    justify-content: space-between;
    /* text-align: center; */
}
.low{
    color: pink;
}
.fifty{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.exp{
    text-transform: capitalize;
}



/* close text img*/




/* facilities */

.fmain{
    /* display: flex; */
}
.ftitle p{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    color: aqua;

}
.fmain hr{
    width: 7rem;
    height: .2rem;
    background-color: aqua;
    border: none;
}
.fcontaint{
    text-align: justify;
    width: 60rem;
    padding: 3rem 0rem;
    font-size: 18px;
}
.fimgf img{
    width: 60rem;
    /* height: 40rem; */
}
.fimg{
    padding: 2rem 0rem;
    
}

.fimgt{
    letter-spacing: 2px;
    text-decoration: underline;
    padding-bottom: .5rem;
    list-style: circle;
    font-size: 20px;
    color: #252525;
    font-weight: 700;
    text-transform: capitalize;

}
.ful{
    padding-left: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.ful {
    padding-bottom: 2rem;
}

.fimgs-r1{
    display: flex;
}
.fimgs-r1-1{
    padding: 1rem;
}
.fimgs-r1-1 img{
    border-radius: 10px;
    box-shadow: 0rem 0rem 1rem gray;
    width: 10rem;

}
.fimgs-r1-1 img:hover{
    /* width: 11rem; */
}
.fimgr{
    display: flex;
    
}
.fimgright{
    /* transform: rotate(90deg); */
}
.fimgright img{
    /* background-size: 60rem; */
    width: 40rem;
    margin-top:3rem ;
    border-radius: 10px;
}
/* facilities end */



h6{
    /* margin-top: -1rem; */
    position: fixed;
}

.link{
    position: fixed;
    margin-top: 4rem;
}



/* scroll bar */


::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background-color:#eee;
}
::-webkit-scrollbar-thumb{
    background-color:#242424;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
}
/* scroll are end */


.img a{
    position: fixed;
}



/* home containt */

.containt1{
    font-weight: 700;
    letter-spacing: 2px;

    color: #fff;
    text-align: center;
    font-size: 32px;
}

.containt2{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    
}
.containt{
    margin-top: 30px;
}
/* home containt end */






/*home containt props */

.smain{
    width: 15rem;
    height: 18rem;
    background-color: #252525;
}
.imain img{
    margin-top: -20px;
    margin-left: 10px;
    width: 5rem;
}
.smain{
    margin-top: 6rem;
}
.ser{
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.nmain{
    float: right;   
    color: aqua;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1rem;
}
.namemain{
    margin-top: 3rem;
    color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}
.dmain{
    margin-top: 1rem;
}
.cmain{
    margin-left: 1rem;
}
.amain{
    margin-top: 2rem;
}
.amain a{
    color: gray;

}
.smain:hover{
    background-color: royalblue;
}
.amain a:hover{
    color: blue;
}

/*home containt props end */



/* home feature prpos start */
.fmain{
    width: 20rem;
    height: 18.7rem;
    background-color: royalblue;
}
.fnames{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin: 3rem 2rem 1rem  1rem;
}
.fimg img{
    position: absolute;
    margin-top: -2rem;
    width: 20rem;
}
.fcmain{
    margin-top: 10rem;
}
.fcimg img{
    width: 1rem;
    border-radius: 10px;
    margin-left: 0rem;
}

.fcmain{
    margin-left: 1rem;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}
.fcimg{
    color: #fff;
    opacity: 0.7;

}
.ftime{
    display: flex;
    font-size: 20px;
    color: #fff;
    
}

.fday{
    background-color:blue;
    width: 4rem;
    text-align: center;
    
}
.ftimeing{
    background-color: #fff;
    color: blue;
    width: 8rem;
    text-align: center;
}
.feature{
    display: flex;
    justify-content: space-around;
}
/* home feature props end */

/* home plan data */

.plan{
    margin: 5rem;
    color: #fff;
}
.planc{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.plancb{
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: #eee;
}
.planmain{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    
}
.planleft{
    border-radius: 10px;
    background-color: #252525;
    width: 27rem;
    height: 21.8rem;

}

.check{
    margin-right: 1rem;
    float: right;
}
.pone input{
    border-radius: 10px;
}
.planmonth{
    width: 8rem;
    line-height: 3rem;
    margin: 1rem;
    border-radius: 100px;
    text-align: center;
    background-color: blue;
}
.pone{
    margin-left: 1rem;
    margin-bottom: 2rem;
}
/* home plan data end */

/* home plan right start */

.homep{
    display: flex;
    color: #fff;
    justify-content: space-around;
    /* line-height: 5rem; */
    width: 30rem;
    height: 5rem;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #252525;
}
.inputp{
    border-radius: 10px;
}
.homep-1{
    line-height: 5rem;
}
.homep-2{
    text-align: center;
    float: left;
}
input{
    cursor: pointer;
}
.homep-2-1{
    margin-top: 1rem;
}
.planmain{
    display: flex;
    justify-content: space-around;
}

.homep-2-1{
    font-size: 22px;
    letter-spacing: 2px;
}
.homep-2-2{
    position: absolute;
    background-color: #252525;
    font-size: 10px;
    width: 4rem;
    border-radius: 100px;
    line-height: 1rem;
    text-align: center;
}

.homep-3{
    display: flex;
    margin-top: 1rem;
}
.homep-rupee{
    font-size: 25px;

}
.homep-month{
    margin-top: .8rem;
    font-size: 14px;
}
.homep:hover{
    background-color: royalblue;
}

/* home plan right data end */


/* home submit */

.submit{
    width: 10rem;
    background-color: blue;
    float: right;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 100px;
    
}

.submit:hover{
    background-color: royalblue;
    transition: 300ms;
}

/* home submit end */



hr{
    width: 90%;
    display: grid;
    justify-content: space-around;
    /* align-items: center; */

}



/* contact page  start */

.contactimg img{
    width: 69rem;
    /* position: absolute; */
}
.contactimg{
    /* z-index: 1; */
    position: absolute;
    
}

.contactus{
    font-size: 82px;
    margin-top: -14.1rem;
    font-weight: 500;
    letter-spacing: 20px;
    color:#252525;
    text-transform: capitalize;
}
.contactwe{
    /* float: right; */
    margin-left: 50rem;
    margin-top: 2rem;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;

}
.contactwe:hover{
    color: aqua;
}
.contact-try{
    color: #fff;
    font-size: 18px;
    position: absolute;
    width: 20rem;
    height: 7rem;
    background-color: red;
    /* z-index: 2; */
    text-transform: capitalize;
    padding-top: 1.5rem;
    padding-left: 2rem;
}
.contact-try a{
    text-decoration: none;
    color: #fff;


}
.contact-try-but:hover{
    color: red;
    background-color: #fff;
    font-weight: 500;
}

.contact-try-but{
    font-weight: 500;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    line-height: 2rem;
    margin-top: 1rem;
    border: 1px solid #fff;
}
/* contact page end */



/* contactlow start */

.contactlow1{
    display: flex;
    justify-content: space-around;
    margin-top: 30rem;
    color: #000;
    
}
.contactfirst h3{
    color: #252525;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0.5rem;
}
.contactfirst{
    width: 20rem;
    margin-right: 3rem;
    /* border: 1px solid black; */
}
.contactfirst ul {
    margin-left: 0.5rem;
}
.contactfirst p{
    margin-left: 0.5rem;
    color: #252525;
    /* width: 33%; */
}
.num,.email,.add{
    margin-left: 0.5rem;
}
.contactfirst ul li{
    margin-bottom: 1rem;
    list-style:none;
}
.email{
    color: red;

}
.add{
    color: red;
}
.contactsecond{

    /* width: 33%; */
}
.mainc{
    margin-left: -5rem;
}
.contactlowsocialmedia{
    display: flex;
}
.socialmedia img{
    margin-top: 2rem;
    width: 3rem;
    margin-right: 1rem;
}
hr{
    margin-top: 2rem;
    margin-left: 3rem;
}
/* contactlow end */





/* home bmi */
.lows{
    display: flex;
}
.bmi{
    padding-bottom: 10rem;
    margin-top: 5rem;
    color: #fff;
    /* width: 30rem; */
    margin-left: 2rem;
}
.bmi-1{
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.bmi-2{
    width: 30rem;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.bmi-input input{
    margin-right: 3rem;
    margin-left: 1rem;
    width: 1rem;
}

.bmi p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.bmi-in input{
    width: 14rem;
    margin-right: 0.5rem;
    height: 3rem;
    background-color: #252525;
    border: none;
    border-radius: 5px;
    padding-left:1rem ; 
    color: #fff;
}
.bmi1-in input{
    width: 28rem;
    /* margin-right: 0.5rem; */
    height: 3rem;
    background-color: #252525;
    border: none;
    border-radius: 5px;
    padding-left:1rem ; 
    color: #fff;
}
.bmi1-in1{
    width: 28rem;
    /* margin-right: 0.5rem; */
    line-height: 3rem;
    background-color: #252525;
    border: none;
    border-radius: 5px;
    padding-left:1rem ; 
    color: #fff;
}
.bmi-cal{
    background-color: blue;
    width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    /* padding-bottom: 2rem; */
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-right: 1rem;
}
.bmi-cal1{
    background-color: blue;
    width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    /* padding-top: -10px; */
    /* padding-bottom: 2rem; */
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    
}
.bmi-cal p{
    margin-top: 10px;
     line-height: 2rem;
}
.bmi-cal1 p{
    line-height: 2rem;
    margin-top: 10px;
}
.bmi-cal:hover{
    background-color: royalblue;
}
.bmi{
    display: flex;
    justify-content: space-around;
}
.bmi-right table{
    margin-top: 5rem;

}
.bmi-right table tr th{
    padding: 2rem;
    letter-spacing: 0.3rem;
    border: 1px solid #252525;
    text-align: center;
}
.bmi-right table tr td{
    font-size: 14px;
    font-weight: 400;
    padding:2rem ;
    border: 1px solid #252525;
    
    text-align: center;
}
/* home bmi end */

/* contactask start */

.butpost{
    width: 10rem;
    margin-left:10rem ;
    cursor: pointer;
    line-height: 3rem;
    background-color: #252525;
    color: #fff;
}
.butpost:hover{
    background-color: #000;
    text-align: center;
    transition: 300ms;
    color: #fff;
}
.contactask{
    width: 67rem;
    /* margin-left: rem; */
    /* margin-left: rem; */
    display: grid;
    justify-content: space-around;
    text-align: center;
}
.contactask p1{
    margin: 2rem 0rem;
    font-size: 42px;
    text-transform: capitalize;
}

.contactask input{
    width: 20rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}


/* contactask end */



/* home subscribe  start*/

.homefooter{
    color: #fff;
    /* width: 35rem; */
    margin-left: 14.7rem;
    /* margin-top: 9rem; */
}
.homefooterleft{
    font-size: 42px;
    width: 30rem;
    margin-left: 5rem;
    /* margin-top: 10rem; */
}
.homesub{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 25rem;
    line-height: 2rem;
    background-color: #252525;

}
.sinput input{
    background-color: #252525;
    border:none;
    cursor: auto;
    padding-left: 1rem;
    color: #fff;
    width: 14rem;
    margin-bottom: 0.7rem;
    height: 2rem;
    margin-top: -4rem;
}
.sub{
    cursor: pointer;
    text-align: center;
    /* display: grid; */
    /* justify-content: space-between; */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 10rem;
    height: 2rem;
    margin-top: 0.8rem;
    margin-right: 0.5rem;
    background-color: blue;
}
.sub:hover{
    background-color: royalblue;
    transition: 300ms;
}
 .homefooter{
    display: flex;
    background-color: #000;
    width: 69rem;
    /* padding-top: 3rem; */
    /* margin-left:14rem ; */
} 
.homefooterright{
    display: flex;
    margin-left: 4rem;
    justify-content: space-around;
}
.r1{
    margin-right: 7rem;
}
.r1 ul li{
    margin-bottom: 1rem;
    list-style: none;
    /* width: 3rem; */
    
}
.r1 ul li a{
    text-decoration: none;
    color: #fff;

}
.r1 ul li a:hover{
    color:aqua;
}
.r1 ul{
    margin-top: 2rem;
}
/* home subscribe end */


.footer3{
    display: flex;
    margin-left: 15rem;
}


/* contact accordium */

.contactA{
    width: 20rem;
    border: 1px solid #242424;
    /* padding-top: 15rem; */
}
.question{
    font-size: 20px;
    border: 1px solid #242424;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.answer{
    text-transform: capitalize;
    padding-left: 1rem;
    display: none;
}
.show{
    padding-left: 1rem;
    text-transform: capitalize;
    display: block  ;
}
.Fq{
    text-align: center;
    width: 20rem;
}


/* contact accordium */



/* footer left */
.footer1left{
    margin-top: 3rem;
}
.Fq{
    /* margin-bottom: 1rem; */
    font-size: 42px;
}
.contactA{
    margin-top: 1.5rem;
}

/* footer left end */